 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background: linear-gradient(black, rgb(236, 33, 33), rgb(254, 254, 86), rgba(250, 241, 241, 0.848), rgb(58, 191, 244),rgb(128, 73, 128), black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }

 .piano{

 }

 .piano-panel{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px;
    background-image: url('imagesband/ImagineDragons.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size:contain;
    border-radius:20px 20px 0 0 ;
 }

 .piano-panel img {
   width: 100px;
 }

 .piano-keys{
    height: 200px;
    display: flex;
 }

 .key {

 }

 .key-white{
   height: 100%;
   width: 64px;
   background-color: white;
   border-right: 3px solid black;
   border-left: 3px solid black;
   border-bottom: 8px solid rgb(79, 74, 74);
   border-radius: 0 0 10px 10px;

 }

 .key-grey{
   height: 60%;
   width: 44px;
   background: linear-gradient(#616162 10%, #222228);
   margin-left:-22px;
   margin-right: -22px;
   z-index: 2;
   border-right: 8px solid black;
   border-left: 8px solid black;
   border-bottom: 8px solid black;
   border-radius: 0 0 10px 10px;

 }

 .key-white:active {
   background-color: #dddddd;
 }

 .key-grey:active {
   background: #0d0d0d;
 }